In [31]:
library(tidyverse)

In [32]:
apartments<- read_csv2("data/apartments_for_rent_classified_10K.csv")
head(apartments)

ℹ Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Rows: 10000 Columns: 22
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (18): category, title, body, amenities, bathrooms, bedrooms, currency, f...
dbl  (4): id, price, square_feet, time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  id         category
1 5668626895 housing/rent/apartment
2 5664597177 housing/rent/apartment
3 5668626833 housing/rent/apartment
4 5659918074 housing/rent/apartment
5 5668626759 housing/rent/apartment
6 5667891676 housing/rent/apartment
  title
1 Studio apartment 2nd St NE, Uhland Terrace NE, Washington, DC 20002
2 Studio apartment 814 Schutte Road
3 Studio apartment N Scott St, 14th St N, Arlington, VA 22209
4 Studio apartment 1717 12th Ave
5 Studio apartment Washington Blvd, N Cleveland St, Arlington
6 0 BR in New York NY 10019
  body
1 This unit is located at second St NE, Uhland Terrace NE, Washington, DC 20002, Washington, 20002, DCMonthly rental rates range from $790 - $1090We have studio units available for rent
2 This unit is located at 814 Schutte Road, Evansville, 47712, INMonthly rental rates range from $425 - $445We have studio - 1 beds units available for rent
3 This unit is located at N Scott St, 14th St N, Arlington, VA 22209, Arlington, 22209, VAMonthly rental rates range from $1390We have studio units available for rent
4 This unit is located at 1717 12th Ave, Seattle, 98122, WAMonthly rental rates range from $925We have studio units available for rent
5 This unit is located at Washington Blvd, N Cleveland St, Arlington, Arlington, 22201, VAMonthly rental rates range from $880We have studio units available for rent
6 **RARE GEM WITH PRIVATE OUTDOOR TERRACE****AVAILABLE IMMEDIATELY** $2475 RENT IS NET EFFECTIVE WITH one month FREE ON $2700 Monthly rent***Low Fee*UNFURNISHED Spacious and Sunny Southern facing studio (403 sq-ft) with big private terrace (130 sq. feet) basks in natural sunlight all day long, facing the scenic landscaped and peaceful residents ct. yard. The apartment features hard wood floors throughout, a carousel kitchen with new appliances and two big closets. Laundry on floor steps away.Worldwide Plaza is a full-service condo that pampers its residents with concierge and 24-hr attendant at door services, a live-in resident manager, a scenic landscaped court yard and lounge, valet service, 8 laundry rooms (washer and dryers are permitted within the residences), on-site garage and a separate full-service health club (NYSC ELITE) equipped with a 25 meter salt water pool, immersive VR spin cycling room, sauna, steam room, etc.
  amenities                                   bathrooms bedrooms currency fee
1 null                                        null      0        USD      No
2 null                                        null      1        USD      No
3 null                                        1         0        USD      No
4 null                                        1         0        USD      No
5 null                                        null      0        USD      No
6 Dishwasher,Elevator,Patio/Deck,Pool,Storage 1         0        USD      No
  has_photo ⋯ price_display price_type square_feet address          cityname
1 Thumbnail ⋯ $790          Monthly    101         null             Washington
2 Thumbnail ⋯ $425          Monthly    106         814 Schutte Rd   Evansville
3 Thumbnail ⋯ $1,390        Monthly    107         null             Arlington
4 Thumbnail ⋯ $925          Monthly    116         1717 12th Avenue Seattle
5 Thumbnail ⋯ $880          Monthly    125         null             Arlington
6 Thumbnail ⋯ $2,475        Monthly    130         350 West 50th St Manhattan
  state latitude longitude source    time
1 DC    38.9057  -76.9861  RentLingo 1577359415
2 IN    37.9680  -87.6621  RentLingo 1577017063
3 VA    38.8910  -77.0816  RentLingo 1577359410
4 WA    47.6160  -122.3275 RentLingo 1576667743
5 VA    38.8738  -77.1055  RentLingo 1577359401
6 NY    40.7629  -73.9885  Listanza  1577289784

In [43]:
apt_read <- apartments|>
            group_by(price_type)|>
            summarize(count =n())

apt_sample <- apartments |>
                filter(bathrooms != 'null')|>
                filter(bedrooms != 'null')|>
                filter(price_type == "Monthly")|>
                mutate(bathrooms = as.double(bathrooms))|>
                mutate(bedrooms = as.double(bedrooms))|>
                mutate(category = as.factor(category))|>
                mutate(category = fct_recode(category,
                                            'Apartment' = 'housing/rent/apartment',
                                            'Home' = 'housing/rent/home',
                                            'Short Term' = 'housing/rent/short_term'))|>
                mutate(time = as.POSIXct(time, origin="1970-01-01"))|>
                select(-latitude,- longitude, -source, -pets_allowed, -price_display, -address, -title, -body, -fee)


              


apt_states <-  apt_sample |>
            group_by (state, cityname)|>
            summarize(count = n())|>
            arrange(desc(count))

apt_read
glimpse(apt_sample)
apt_states

`summarise()` has grouped output by 'state'. You can override using the
`.groups` argument.

  price_type     count
1 Monthly        9998
2 Monthly|Weekly    1
3 Weekly            1

Rows: 9,959
Columns: 13
$ id          <dbl> 5668626833, 5659918074, 5667891676, 5668610290, 5664571820…
$ category    <fct> Apartment, Apartment, Apartment, Apartment, Apartment, Apa…
$ amenities   <chr> "null", "null", "Dishwasher,Elevator,Patio/Deck,Pool,Stora…
$ bathrooms   <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ bedrooms    <dbl> 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ currency    <chr> "USD", "USD", "USD", "USD", "USD", "USD", "USD", "USD", "U…
$ has_photo   <chr> "Thumbnail", "Thumbnail", "Thumbnail", "Thumbnail", "Thumb…
$ price       <dbl> 1390, 925, 2475, 1495, 1695, 1560, 1000, 950, 625, 600, 54…
$ price_type  <chr> "Monthly", "Monthly", "Monthly", "Monthly", "Monthly", "Mo…
$ square_feet <dbl> 107, 116, 130, 138, 190, 200, 200, 200, 200, 200, 200, 200…
$ cityname    <chr> "Arlington", "Seattle", "Manhattan", "San Francisco", "San…
$ state       <chr> "VA", "WA", "NY", "CA", "CA", "NC", "TX", "CA", "GA", "NC"…
$ time        <dttm> 2019-12-26 11:23:30, 2019-12-18 11:15:43, 2019-12-25 16:0…

     state cityname         count
1    TX    Austin           522
2    TX    Dallas           199
3    TX    Houston          186
4    TX    San Antonio      182
5    CA    Los Angeles      165
6    IL    Chicago          147
7    WI    Madison          120
8    OR    Portland         113
9    CO    Denver           105
10   CA    San Francisco    104
11   MO    Kansas City       94
12   WA    Seattle           87
13   OH    Cincinnati        86
14   CO    Colorado Springs  81
15   NV    Las Vegas         81
16   null  null              77
17   NE    Omaha             75
18   NC    Raleigh           74
19   DC    Washington        73
20   IA    Ames              73
21   MN    Minneapolis       64
22   WI    Milwaukee         64
23   GA    Marietta          63
24   IN    West Lafayette    60
25   TX    Arlington         57
26   IN    Bloomington       54
27   AZ    Phoenix           51
28   IL    Champaign         51
29   MO    Saint Louis       51
30   OK    Oklahoma City     51
⋮    ⋮     ⋮                ⋮
1739 WI    Fox Point        1
1740 WI    Franklin         1
1741 WI    Germantown       1
1742 WI    Greendale        1
1743 WI    Hales Corners    1
1744 WI    Hartford         1
1745 WI    Horicon          1
1746 WI    Hortonville      1
1747 WI    Kaukauna         1
1748 WI    La Crosse        1
1749 WI    Manitowoc        1
1750 WI    Mc Farland       1
1751 WI    Menasha          1
1752 WI    Mosinee          1
1753 WI    New Berlin       1
1754 WI    New Holstein     1
1755 WI    New London       1
1756 WI    Pewaukee         1
1757 WI    Platteville      1
1758 WI    Plymouth         1
1759 WI    Pulaski          1
1760 WI    Racine           1
1761 WI    Saint Francis    1
1762 WI    South Milwaukee  1
1763 WI    Wausau           1
1764 WI    Weston           1
1765 WI    Whitefish Bay    1
1766 WI    Windsor          1
1767 WV    Keyser           1
1768 WY    Cheyenne         1