In [31]:
library(tidyverse)

In [32]:
apartments<- read_csv2("data/apartments_for_rent_classified_10K.csv")
head(apartments)

ℹ Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Rows: 10000 Columns: 22
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (18): category, title, body, amenities, bathrooms, bedrooms, currency, f...
dbl  (4): id, price, square_feet, time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  id         category
1 5668626895 housing/rent/apartment
2 5664597177 housing/rent/apartment
3 5668626833 housing/rent/apartment
4 5659918074 housing/rent/apartment
5 5668626759 housing/rent/apartment
6 5667891676 housing/rent/apartment
  title
1 Studio apartment 2nd St NE, Uhland Terrace NE, Washington, DC 20002
2 Studio apartment 814 Schutte Road
3 Studio apartment N Scott St, 14th St N, Arlington, VA 22209
4 Studio apartment 1717 12th Ave
5 Studio apartment Washington Blvd, N Cleveland St, Arlington
6 0 BR in New York NY 10019
  body
1 This unit is located at second St NE, Uhland Terrace NE, Washington, DC 20002, Washington, 20002, DCMonthly rental rates range from $790 - $1090We have studio units available for rent
2 This unit is located at 814 Schutte Road, Evansville, 47712, INMonthly rental rates range from $425 - $445We have studio - 1 beds units available for rent
3 This unit is located at N Scott St, 14th St N, Arlington, VA 22209, Arlington, 22209, VAMonthly rental rates range from $1390We have studio units available for rent
4 This unit is located at 1717 12th Ave, Seattle, 98122, WAMonthly rental rates range from $925We have studio units available for rent
5 This unit is located at Washington Blvd, N Cleveland St, Arlington, Arlington, 22201, VAMonthly rental rates range from $880We have studio units available for rent
6 **RARE GEM WITH PRIVATE OUTDOOR TERRACE****AVAILABLE IMMEDIATELY** $2475 RENT IS NET EFFECTIVE WITH one month FREE ON $2700 Monthly rent***Low Fee*UNFURNISHED Spacious and Sunny Southern facing studio (403 sq-ft) with big private terrace (130 sq. feet) basks in natural sunlight all day long, facing the scenic landscaped and peaceful residents ct. yard. The apartment features hard wood floors throughout, a carousel kitchen with new appliances and two big closets. Laundry on floor steps away.Worldwide Plaza is a full-service condo that pampers its residents with concierge and 24-hr attendant at door services, a live-in resident manager, a scenic landscaped court yard and lounge, valet service, 8 laundry rooms (washer and dryers are permitted within the residences), on-site garage and a separate full-service health club (NYSC ELITE) equipped with a 25 meter salt water pool, immersive VR spin cycling room, sauna, steam room, etc.
  amenities                                   bathrooms bedrooms currency fee
1 null                                        null      0        USD      No
2 null                                        null      1        USD      No
3 null                                        1         0        USD      No
4 null                                        1         0        USD      No
5 null                                        null      0        USD      No
6 Dishwasher,Elevator,Patio/Deck,Pool,Storage 1         0        USD      No
  has_photo ⋯ price_display price_type square_feet address          cityname
1 Thumbnail ⋯ $790          Monthly    101         null             Washington
2 Thumbnail ⋯ $425          Monthly    106         814 Schutte Rd   Evansville
3 Thumbnail ⋯ $1,390        Monthly    107         null             Arlington
4 Thumbnail ⋯ $925          Monthly    116         1717 12th Avenue Seattle
5 Thumbnail ⋯ $880          Monthly    125         null             Arlington
6 Thumbnail ⋯ $2,475        Monthly    130         350 West 50th St Manhattan
  state latitude longitude source    time
1 DC    38.9057  -76.9861  RentLingo 1577359415
2 IN    37.9680  -87.6621  RentLingo 1577017063
3 VA    38.8910  -77.0816  RentLingo 1577359410
4 WA    47.6160  -122.3275 RentLingo 1576667743
5 VA    38.8738  -77.1055  RentLingo 1577359401
6 NY    40.7629  -73.9885  Listanza  1577289784

This is our dataset. From here, we can see that there are alot of unne

In [32]:
apt_read <- apartments|>
            group_by(price_type)|>
            summarize(count =n())

apt_read

  price_type     count
1 Monthly        9998
2 Monthly|Weekly    1
3 Weekly            1

In [30]:
apt_sample <- apartments |>
                filter(bathrooms != 'null')|>
                filter(bedrooms != 'null')|>
                filter(price_type == "Monthly")|>
                mutate(bathrooms = as.double(bathrooms))|>
                mutate(bedrooms = as.double(bedrooms))|>
                mutate(category = as.factor(category))|>
                mutate(category = fct_recode(category,
                                            'Apartment' = 'housing/rent/apartment',
                                            'Home' = 'housing/rent/home',
                                            'Short Term' = 'housing/rent/short_term'))|>
                mutate(time = as.POSIXct(time, origin="1970-01-01"))|>
                select(-latitude,- longitude, -source, -pets_allowed, -price_display, -address, -title,
                       -body, -fee, -id, -has_photo, -time, -amenities)

apt_states <-  apt_sample |>
            group_by (state)|>
            summarize(count = n())|>
            arrange(desc(count))|>
            slice(1)
apt_sample
apt_states

     category  bathrooms bedrooms currency price price_type square_feet
1    Apartment 1         0        USD      1390  Monthly    107
2    Apartment 1         0        USD       925  Monthly    116
3    Apartment 1         0        USD      2475  Monthly    130
4    Apartment 1         0        USD      1495  Monthly    138
5    Apartment 1         0        USD      1695  Monthly    190
6    Apartment 1         1        USD      1560  Monthly    200
7    Apartment 1         1        USD      1000  Monthly    200
8    Apartment 1         1        USD       950  Monthly    200
9    Apartment 1         1        USD       625  Monthly    200
10   Apartment 1         1        USD       600  Monthly    200
11   Apartment 1         1        USD       544  Monthly    200
12   Apartment 1         1        USD       525  Monthly    200
13   Apartment 1         1        USD       450  Monthly    200
14   Apartment 1         1        USD       750  Monthly    215
15   Apartment 1         1        USD      2000  Monthly    219
16   Apartment 1         1        USD      1400  Monthly    219
17   Apartment 1         1        USD      1095  Monthly    219
18   Apartment 1         1        USD       915  Monthly    219
19   Apartment 1         1        USD       900  Monthly    219
20   Apartment 1         1        USD       865  Monthly    219
21   Apartment 1         1        USD       750  Monthly    219
22   Apartment 1         1        USD       725  Monthly    219
23   Apartment 1         1        USD       650  Monthly    219
24   Apartment 1         1        USD       650  Monthly    219
25   Apartment 1         1        USD       645  Monthly    219
26   Apartment 1         1        USD       595  Monthly    219
27   Apartment 1         1        USD       750  Monthly    220
28   Apartment 1         0        USD      1195  Monthly    223
29   Apartment 1         0        USD      1150  Monthly    225
30   Apartment 1         1        USD       942  Monthly    225
⋮    ⋮         ⋮         ⋮        ⋮        ⋮     ⋮          ⋮
9930 Apartment 4.0       5        USD       2599 Monthly     3966
9931 Apartment 5.0       9        USD       3195 Monthly     4000
9932 Apartment 3.5       5        USD       2550 Monthly     4000
9933 Apartment 4.0       6        USD      14950 Monthly     4044
9934 Apartment 3.5       4        USD       2950 Monthly     4075
9935 Apartment 4.0       4        USD       4500 Monthly     4113
9936 Apartment 4.5       5        USD       9450 Monthly     4262
9937 Apartment 7.0       7        USD       9000 Monthly     4355
9938 Apartment 3.5       3        USD       2900 Monthly     4408
9939 Apartment 4.5       4        USD       4350 Monthly     4480
9940 Apartment 4.5       4        USD       2500 Monthly     4500
9941 Apartment 5.0       4        USD       6500 Monthly     4555
9942 Apartment 2.0       4        USD       3100 Monthly     4560
9943 Apartment 3.5       5        USD       2395 Monthly     4614
9944 Apartment 3.5       4        USD       7800 Monthly     4650
9945 Apartment 4.5       6        USD       7600 Monthly     4733
9946 Apartment 4.0       5        USD       4200 Monthly     4736
9947 Apartment 5.0       5        USD       4500 Monthly     4741
9948 Apartment 6.0       5        USD       9500 Monthly     4812
9949 Apartment 4.0       8        USD       8345 Monthly     4900
9950 Apartment 3.5       5        USD       3980 Monthly     4970
9951 Apartment 5.0       4        USD      19500 Monthly     5000
9952 Apartment 5.0       6        USD       3200 Monthly     5199
9953 Apartment 5.0       4        USD       4500 Monthly     5407
9954 Apartment 5.0       5        USD       6900 Monthly     5700
9955 Apartment 4.0       6        USD       3000 Monthly     5921
9956 Apartment 4.0       5        USD       6000 Monthly     6300
9957 Apartment 8.0       6        USD      25000 Monthly     8716
9958 Apartment 8.5       6        USD      11000 Monthly    11318
9959 Apartment 1.0       1        USD       1009 Monthly      880
     cityname       state
1    Arlington      VA
2    Seattle        WA
3    Manhattan      NY
4    San Francisco  CA
5    San Francisco  CA
6    New Bern       NC
7    Spring         TX
8    Vallejo        CA
9    Marietta       GA
10   Charlotte      NC
11   Tallahassee    FL
12   null           null
13   Phoenix        AZ
14   Riverview      FL
15   Lafayette      AL
16   San Francisco  CA
17   Glen Burnie    MD
18   Littleton      CO
19   Waldorf        MD
20   Riverview      FL
21   null           null
22   Aurora         CO
23   Manassas       VA
24   Decatur        GA
25   Tampa          FL
26   Albuquerque    NM
27   null           null
28   Seattle        WA
29   Seattle        WA
30   Chicago        IL
⋮    ⋮              ⋮
9930 Lexington      SC
9931 Kalamazoo      MI
9932 Saint Leonard  MD
9933 Los Angeles    CA
9934 Lenexa         KS
9935 Chaska         MN
9936 Corona Del Mar CA
9937 Bloomington    IN
9938 Bella Vista    AR
9939 Memphis        TN
9940 Blacksburg     VA
9941 San Jose       CA
9942 Bloomington    IN
9943 Houston        TX
9944 Scottsdale     AZ
9945 San Diego      CA
9946 Columbus       OH
9947 Wichita        KS
9948 Las Vegas      NV
9949 Madison        WI
9950 Arvada         CO
9951 Los Angeles    CA
9952 Fayetteville   GA
9953 Eden Prairie   MN
9954 Lutz           FL
9955 Saint George   UT
9956 Edina          MN
9957 Montecito      CA
9958 Potomac        MD
9959 Lawrenceville  GA

  state count
1 TX    1730

From here we see that Texas has the highest count of rental properties